@mixin size($width, $height) {
  width: $width;
  height: $height;
}
@mixin display($display) {
  display: $display;
}
@mixin font(
  $color,
  $font-family,
  $font-size,
  $font-weight,
  $letter-spacing,
  $line-height
) {
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}
@mixin styleDropdown {
  position: absolute;
  padding-top: 8px;
  padding-bottom: 4px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  z-index: 2;
  top: 54px;
  overflow: auto;
}

@mixin styleScrollBar {
  /* width */
  ::-webkit-scrollbar {
    width: 2px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(219, 219, 219);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0066cc;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0066cc;
  }
}

@mixin reportFilterItem {
  color: $gray-350;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 40px;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

@mixin reportFilterItemActive {
  color: $gray-dark;
  &::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: $blue-200;
    bottom: 0;
    left: 0;
    position: absolute;
  }
}
