@import "../../commons/styles.scss";
.header {
  height: 40px;
  background-color: $tumblr;
  align-items: center;
  justify-content: space-around;
  display: flex;

  &-logo {
    display: flex;
    align-items: center;
    min-width: 217px;
    cursor: pointer;

    &-text {
      height: 24px;
      margin-left: 6px;
    }
    &-img {
      width: 32px;
      height: 17.52px;
    }
  }
  &-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      position: relative;
      width: 112px;
      text-align: center;
      a {
        color: $while;
        font-family: $font-lato;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;
        cursor: pointer;
        text-decoration: none;
        &:hover {
          color: $while;
        }
        &:active {
          color: $while;
        }
      }
    }
    .active {
      &::after {
        content: "";
        position: absolute;
        background-color: white;
        height: 2px;
        width: 73px;
        background-color: $blue-100;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  &-user {
    display: flex;
    align-items: center;
    min-width: 217px;
    justify-content: flex-end;
    &-img {
      width: 22px;
      height: 22px;
      margin-right: 8px;
      border-radius: 50%;
    }
    &-name {
      color: $while;
      font-family: $font-lato;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 24px;
    }
  }
}
